$background-color: #f2d7d9;
$primary-color: white;
$secondary-color: #1565c0;
$accent-color: #d3cedf;
$text-color: #16213e;

$gap: 32px;
$box-shadow: 2px 2px 9px 0px #0000001a;
$border-radius: 24px;
$cursor--pointer: pointer;
