.dark {
  background-color: #04293a;
  color: white;
  transition: 0.5s;
  min-height: 100vh;

  nav {
    background-color: #041c32;
  }

  .favorite-countries-container {
    background-color: #041c32;
  }
  .card--content {
    background-color: #04293a;
  }
  th.MuiTableCell-root {
    color: white;
  }
}
